*{
    border: 0;
    padding: 0;
    margin: 0;
}
*{
    font-family: Arial;
}
header{
    background-color: rgb(153, 204, 105);
    height: 280px;
}
.logo{
    display: inline;
}
.cabecera{
    padding: 5em;
}
.fila{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 2em; 
}


body{
    text-align: center;
    background-color:rgb(4, 127, 70) ;
    background-image: ;
}
.trabajos{
    padding: 1em;

}
