*{
    border: 0;
    padding: 0;
    margin: 0;
}
*{
    font-family: Arial;
}
header{
    background-color: rgb(153, 204, 105);
    margin-top: 0;
}
.logo{    
    float: inline-start;
}
.cabecera{
    float: inline-start;
    padding: 5em;
    margin-left: 8em;
    margin-top: 1em;
    font-size: large;
}
.fila{
    margin-left: 2em;
    margin-right: 2em;
}
.fila::after{
    content:"" ;
    clear: both;
    display: table;
}
.fila1{
    margin-left: 2em;
    margin-right: 2em;
}
.fila1::after{
    content:"" ;
    clear: both;
    display: table;
}
.columna{
    width: 21.6%;
    float: inline-start;
    margin: 4em;
}
.columnatexto{
    width: 40%;
    margin: 0.5em;
    margin-top: 4em;
    float: inline-start;
    font-size: x-large;
    padding: 0.5em;
}

body{
    text-align: center;
    background-color:rgba(4, 127, 70, 0.953) ;
}
.trabajos{
    background-color: rgb(153, 204, 105);
    margin-left: 25%;
    margin-right: 25%;
}
.slider-container{
    display: flex;
    width: 50%;
    height: 50vh;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    padding: 1em;
    margin: 1em;
    left: 28em;
    position: relative;
}
.slider-item{
    flex: 0 0 100%;
    width: 100%;
    object-fit: cover;
    scroll-snap-align: center;
}
.mercadopago{
    margin-left: 30%;
    margin-right: 30%;
    background-color: aqua;
}
.filam{
    margin-left: 2em;
    margin-right: 2em;

}
.filam::after{
    content:"" ;
    clear: both;
    display: table;
}   
.columnam{
    width: 40%;
    float: inline-start;
    margin: 1em;
}

.filaf{
    padding-left: 37%;
    padding-right: 30%;
    position:relative ;
    bottom: 0;
    background-color: rgb(153, 204, 105);
    margin: 1em;
}
.filaf::after{
    content:"" ;
    clear: both;
    display: table;
}
.igual{
    margin: 1em;
    float: inline-start;
    padding: 1em;
}

